:root {
  --primary: #003566;
  --dark-primary: #001d3d;
  --primary-light: #e2f1ff;
  --primary-light-text: #6db9ff;
  --primary-text: #2f3337;
  --secondary-text: #575f66;

  --cta: #ffd60a;
  --dark-cta: #ffc300;
  --disabled-cta: rgba(255, 214, 10, 0.5);
  --warning: #ff6d6d;
  --light-secondary: #cccdd2;
  --light-gray: #f4f4f5;
  --dark-secondary: #2a2a2f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-weight: 400;
  font-family:
    'Varela Round',
    'Nunito',
    'Arial Rounded MT Bold',
    'SF Pro Rounded',
    'Segoe UI',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
